numpy
librosa
keras
tensorflow
streamlit
audio_recorder_streamlit
gunicorn
pandas
scikit-learn
nltk
pandas
streamlit
altair
neattext
joblib
tensorflow
keras
streamlit-webrtc
SpeechRecognition
asyncio
av
